.main-container{
    max-width: 1440px;
    margin: auto;
    padding-left: 80px;
    padding-right: 80px;
}
.box-hover:hover{
    transform: scale(1.1);
    transition: 700ms;
    box-shadow: 0px 12px 44px rgba(16, 24, 40, 0.15);
}
@media (max-width: 1024px){
    .main-container{
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media (max-width: 768px) {
    .main-container{
        padding-left: 20px;
        padding-right: 20px;
    }
}